spring:
  application:
    name: wooriBank

  profiles:
    active: dev

  datasource:
    url: jdbc:mysql://localhost:3306/wooriBank?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        show_sql: true

  jwt:
    secret: 1nGmLQMnCQri6kT7jCy0rSzzcAJNR8BoZzDYr/tcVTnwZ/173LuUX3gAwZlI6NRExH0CffzkizyE75VX1Mqw7w==
    access-expiration: 3600000
    refresh-expiration: 31536000000